# Generated temporary files
*.class
target
bin
gen
local.properties
default.properties
gen-external-apklibs

#Added Projects
viewpagerindicator

# Gradle
.gradle
/local.properties
/build

# IDE files
*.iml
.idea
out
*.tmproj

# OS specific files
*~
.DS_Store

# Should never check in apk files
*.apk
